/* Text Formatting */
h1, h2, h3 {
	font-family: 'Dosis', sans-serif;
}

body {
	font-family: 'News Cycle', sans-serif;
}

/*
 * Default White Buttons
 */

.btn-white {
	color: white;
	border-radius: 0px;
	border-color: white;
	border-width: 5px;
	border-style: solid;
	background-color: rgba(0,0,0,0);
	transition: background-color 1s;
	-webkit-transition: background-color 1s;
}

.btn-white:hover {
	background-color: rgba(0,0,0,0.5);
}

/*
 * Navbar
 */

 .navbar-toggle {
  float: left;
  margin-left: 15px;
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

@media (min-width: 992px) {
  body {
    padding: 0;
  }
  .navbar {
    right: auto;
    background: none;
    border: none;
  }
}

/* Home Page */
#home-page-table {
	border-spacing: 20px;
}